<div class="container mt-4">
    <h2>Crear Dentista</h2>

    <form [formGroup]="dentistaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
            <div *ngIf="f['nombre'].invalid && (f['nombre'].dirty || esEdicion)" class="text-danger">
                Nombre es requerido y debe tener al menos 2 caracteres.
            </div>
        </div>

        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" formControlName="apellido">
            <div *ngIf="f['apellido'].invalid && (f['apellido'].dirty || esEdicion)" class="text-danger">
                Apellido es requerido y debe tener al menos 2 caracteres.
            </div>
        </div>

        <div class="form-group">
            <label>Especialidad</label>
            <input type="text" class="form-control" formControlName="especialidad">
            <div *ngIf="f['especialidad'].invalid && (f['especialidad'].dirty || esEdicion)" class="text-danger">
                Especialidad es requerido y debe tener al menos 2 caracteres.
            </div>
        </div>

        <div class="form-group">
            <label>Teléfono</label>
            <input type="text" class="form-control" formControlName="telefono">
            <div *ngIf="f['telefono'].invalid && (f['telefono'].dirty || esEdicion)" class="text-danger">
                Teléfono es requerido y debe tener al menos 2 caracteres.
            </div>
        </div>

        <div class="form-group">
            <label>Correo Electrónico</label>
            <input type="email" class="form-control" formControlName="email">
            <div *ngIf="f['email'].invalid && (f['email'].dirty || esEdicion)" class="text-danger">
                Correo Electŕonico es requerido y debe tener al menos 2 caracteres.
            </div>
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" formControlName="password">
            <div *ngIf="f['password'].invalid && (f['password'].dirty || esEdicion)" class="text-danger">
                Contraseña es requerido y debe tener al menos 7 caracteres.
            </div>
        </div>

        <div class="form-group">
            <label>Fecha de Registro</label>
            <input type="date" class="form-control" formControlName="fechaRegistro">
            <div *ngIf="f['fechaRegistro'].invalid && (f['fechaRegistro'].dirty || esEdicion)" class="text-danger">
                Fecha de Registro es requerida
            </div>
        </div>

        <div class="form-group">
            <label>Rol</label>
            <select class="form-control" formControlName="role">
                <option value="">Seleccione</option>
                <option value="USER_ROLE">Usuario</option>
                <option value="ADMIN_ROLE">Administrador</option>
            </select>
            <div *ngIf="f['role'].invalid && (f['role'].dirty || esEdicion)" class="text-danger">
                Rol es requerido.
            </div>            
        </div>

        <button type="submit" class="btn btn-success mt-2">Guardar</button>
        <button type="button" class="btn btn-secondary mt-2 ml-2" [routerLink]="['/dentistas']">
                Cancelar
        </button>
    </form>

    
</div>